@import './themes/oxocarbon.css';

/* General configuration */
* {
  border: none;
  font-family: "IBM Plex Sans", "tabler-icons";
  font-size: 13px;
}

window#waybar {
  background: @red;
}

window#waybar.hidden {
  opacity: 0.0;
}

/* Tooltips */
tooltip {
  background: @bg;
  padding: 20px;
}
tooltip label {
  color: @fg;
}

/* Tags */
#tags {
  background: @bg;
  padding: 0px;
}

#tags button {
  color: @bg3;
  min-width: 30px;
  padding: 0px;
}

#tags button.occupied {
  color: @green;
  font-weight: bold;
}

#tags button.focused {
  background: @red;
  border-radius: 0px;
  color: @bg;
  font-weight: bold;
}

#tags button.urgent {
  color: @purple;
}

/** ********** Layout indicator ********** **/
#window.1 {
  background: @bg;
  color: @fg;
  font-weight: bold;
}

/** ********** Window ********** **/
#window.2 {
  color: @bg;
  font-weight: bold;
  padding: 0px 0px 0px 4px;
}

/** ********** Wireplumber ********** **/
#wireplumber {
  background: @bg;
  color: @aqua;
  padding: 0px 5px 0px 5px;
}

/** ********** Backlight ********** **/
#backlight {
  background: @bg;
  color: @orange;
  padding: 0px 5px 0px 5px;
}

/** ********** Battery ********** **/
#battery {
  background: @bg;
  color: @aqua;
  padding: 0px 5px 0px 5px;
}

#battery.charging {
  color: @orange;
}

#battery.plugged {
  color: @yellow;
}

@keyframes blink {
  to {
    color: @red;
  }
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: @bg;
  opacity: 1.0;
}

/** ********** Clock ********** **/
#clock {
  background: @bg;
  color: @fg;
  padding: 0px 5px 0px 5px;
}

/** ********** Tray ********** **/
#tray {
  background: @bg;
  padding: 0 5px 0 5px;
}
#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
}

/** ********** Idle Inhibitor ********** **/
#idle_inhibitor {
  background: @bg;
  color: @fg3;
  padding: 0px 5px 0px 5px;
}
#idle_inhibitor.activated {
  color: @blue;
  font-weight: bold;
}

/** ********** Image ********** **/
#image {
  background: @bg;
  padding: 2px;
}

/* Temperature */
#temperature {
  background: @bg;
  color: @purple;
  padding: 0px 5px 0px 5px;
}
#temperature.warning {
  color: @orange;
}
#temperature.critiacl {
  color: @red;
}

/* CPU */
#cpu {
  background: @bg;
  color: @green;
  padding: 0px 5px 0px 5px;
}

/* Memory */
#memory {
  background: @bg;
  color: @yellow;
  padding: 0px 5px 0px 5px;
}

/* Disk */
#disk {
  background: @bg;
  color: @blue;
  padding: 0px 5px 0px 5px;
}
