// Generated dynamically by sync-terminal-theme.sh
layout {
    
    focus-ring {
        width 2
        active-color "#bec2ff"
        inactive-color "#8f8fa1"
    }
    border {
        off
        width 2
        active-color "#bec2ff"
        inactive-color "#8f8fa1"
        urgent-color "#bec2ff"
    }
}
window-rule {
    geometry-corner-radius 16
    clip-to-geometry true
}
