// Generated dynamically by sync-terminal-theme.sh
layout {
    
    focus-ring {
        width 2
        active-color "#c7bfff"
        inactive-color "#928f9f"
    }
    border {
        off
        width 2
        active-color "#c7bfff"
        inactive-color "#928f9f"
        urgent-color "#c7bfff"
    }
}
window-rule {
    geometry-corner-radius 16
    clip-to-geometry true
}
