layout {
  gaps 10
  background-color "transparent"
  center-focused-column "never"
  always-center-single-column true
  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
  }
  default-column-width { proportion 0.5; }
  focus-ring {
    on
    width 2
    active-gradient from="#cba6f7" to="#89b4fa" angle=45
    inactive-gradient from="#1e1e2e" to="#9399b2" angle=45 relative-to="workspace-view"
  }
  border {
    off 
    width 4
    active-color "#ffc87f"
    inactive-color "#505050"
    urgent-color "#9b0000"
    // active-gradient from="#e5989b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"
    // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
  }
  shadow {
    on
    softness 30
    spread 5
    offset x=0 y=5
    color "#50505066"
  }
  struts {
    // left 64
    // right 64
    // top 64
    // bottom 64
  }
}

animations {
  on
  workspace-switch {
        spring damping-ratio=0.80 stiffness=523 epsilon=0.0001
    }
    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }
    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }
    horizontal-view-movement {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=0.75 stiffness=323 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.65 stiffness=923 epsilon=0.001
    }
    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }
    overview-open-close {
        spring damping-ratio=0.85 stiffness=800 epsilon=0.0001
    }
}

blur {
    // off
    passes 3
    offset 3.0
    noise 0.02
    saturation 1.5
}

prefer-no-csd
