layout {
  gaps 16
  center-focused-column "never"
  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
  }
  default-column-width { proportion 0.5; }
  focus-ring {
    on
    width 4
    active-gradient from="#cba6f7" to="#89b4fa" angle=45
    inactive-gradient from="#1e1e2e" to="#9399b2" angle=45 relative-to="workspace-view"
  }
  border {
    off 
    width 4
    active-color "#ffc87f"
    inactive-color "#505050"
    urgent-color "#9b0000"
    // active-gradient from="#e5989b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"
    // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
  }
  shadow {
    off
    softness 30
    spread 5
    offset x=0 y=5
    color "#0007"
  }
  struts {
    // left 64
    // right 64
    // top 64
    // bottom 64
  }
}

animations {
  on
}

prefer-no-csd
