spawn-at-startup "awww-daemon"
spawn-at-startup "mako"
spawn-at-startup "swayosd-server"
spawn-at-startup "udiskie -2"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "gnome-keyring-daemon --replace --components=secrets,ssh,pkcs11"
spawn-sh-at-startup "~/.config/niri/waybar/launch.sh"
spawn-sh-at-startup "~/.local/bin/wall_shuffle.sh"
spawn-sh-at-startup "~/.local/bin/idle.sh"
// spawn-at-startup "qs" "-c" "noctalia-shell"
