* {
  font-family: "Google Sans Flex", sans-serif;
  font-size: 18px;
  font-weight: bold;
  border: none;
}

window {
  background-color: #1C1B1F;
}

button {
  background-color: #2B2930;
  color: #E6E1E5;
  border: 1px solid #49454F;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  margin: 10px;
}

button:focus, button:active, button:hover {
  background-color: rgba(208, 188, 255, 0.12);
  border: 1px solid #D0BCFF;
  box-shadow: 0 0 12px rgba(208, 188, 255, 0.3);
  color: #D0BCFF;
}

#lock {
    background-image: image(url("icons/lock.png"), url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("icons/logout.png"), url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("icons/suspend.png"), url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("icons/hibernate.png"), url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("icons/shutdown.png"), url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("icons/reboot.png"), url("/usr/share/wlogout/icons/reboot.png"));
}
