window {
    background-image: url("/home/mura/Pictures/Walls/dark_spark.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1C1B1F;
}

#user-image {
    border-radius: 50px;
    border: 2px solid rgba(208, 188, 255, 0.3);
}

#clock-label {
    font-size: 96px;
    color: #E6E1E5;
    font-family: "Google Sans Flex Light";
}

#date-label {
    font-size: 20px;
    color: #CAC4CF;
    font-family: "Google Sans Flex";
}

#input-label {
    color: #CAC4CF;
    font-size: 14px;
}

#input-field {
    font-size: 16px;
    min-height: 50px;
    background-color: #2B2930;
    color: #E6E1E5;
    border: 2px solid #49454F;
    border-radius: 16px;
    padding: 0 16px;
}

#input-field:focus {
    border-color: #D0BCFF;
}

#warning-label {
    color: #F2C8A0;
}

#error-label {
    color: #F2B8B5;
}

#unlock-button {
    background-color: #D0BCFF;
    color: #381E72;
    border-radius: 16px;
    padding: 8px 20px;
    border: none;
    font-weight: 600;
}

#unlock-button:hover {
    background-color: #DCC8FF;
}
