input {
  keyboard {
    xkb {
    }
  }
  touchpad {
    tap
    natural-scroll
    scroll-method "two-finger"
  }
  mouse {
  }
  trackpoint {
    natural-scroll
    accel-speed -0.8
  }
  // warp-mouse-to-focus
  // focus-follows-mouse
  // focus-follows-mouse max-scroll-amount="0%"
}

gestures {
  dnd-edge-view-scroll {
   trigger-width 30
    delay-ms 100
    max-speed 1500
  }
  dnd-edge-workspace-switch {
    trigger-height 50
    delay-ms 100
    max-speed 1500
  }
  hot-corners {
    bottom-right
  }
}

