ACTION=="change", SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/usr/local/bin/backlight_auto.sh ac"
ACTION=="change", SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/usr/local/bin/backlight_auto.sh battery"
